Input {
  border-radius: 10px;
  height: 30px;
  margin-bottom: 10px;
  border: 1px solid #ffffff;
  border-radius: 999px;
  background-color: transparent;
  text-align: center;
  color: white;
}

Input:focus {
  outline: none;
}

@media (max-width: 460px) {
  .Input {
    margin-bottom: 0px;
    width: 150px;
  }
}
