@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap");
.Avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  padding: 2px;
  justify-content: space-around;
  overflow: hidden;
  border-radius: 50px;
  width: 125px;
}

.Avatar:hover {
  background-color: rgba(99, 86, 86, 0.603);
}

.img-small {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.name {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  font-size: 20px;
}
