@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.MainHeader {
  height: 3.2rem;
  display: flex;
  position: sticky;
  top: 0;
  align-items: center;
  background: #1c1c1c;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.26);
  padding: 0 10%;
  z-index: 5;
}

h1 {
  font-family: "Roboto", sans-serif;
}

.main-navigation__title {
  color: white;
}

.main-navigation__title a {
  text-decoration: none;
  color: white;
}

.HamIcon {
  cursor: pointer;
  display: none;
}

.HamIcon div {
  height: 8px;
  width: 40px;
  background-color: white;
  margin-bottom: 3px;
  border-radius: 5px;
  margin-top: 5px;
}

@media (min-width: 768px) {
  .MainHeader {
    justify-content: space-between;
  }
}

@media (max-width: 460px) {
  .main-navigation__title {
    display: none;
  }

  .HamIcon {
    display: block;
  }
}
