.Modal {
  width: 30%;
  height: 460px;
  background-color: #354152;
  margin: auto;
  border-radius: 10px;
}

body {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

input {
  border-radius: 10px;
  height: 30px;
  margin-bottom: 10px;
  border: 1px solid #242c37;
  border-radius: 999px;
  background-color: transparent;
  text-align: center;
}

img {
  width: 50px;
  height: 50px;
  margin-top: 20px;
}

.SignUp {
  margin-top: 20px;
}

button {
  margin-top: 10px;
  height: 35px;
  border-radius: 10px;
  background-image: linear-gradient(160deg, #8ceabb 0%, #378f7b 100%);
}

.google {
  margin-top: 10px;
  height: 35px;
  border-radius: 10px;
  width: 85%;
  background: #dd4b39;
  color: #fff;
}

hr {
  border: 1px solid #e60000;
  width: 20%;
  height: 0px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.separate {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 10px;
}

h2,
h1 {
  margin: 0;
  color: white;
}

p {
  color: white;
}

a {
  color: red;
  text-decoration: none;
}
