.Container2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8vh;
  padding: 0 10%;
  flex-wrap: wrap;
  text-align: left;
  align-items: center;
}

@media (max-width: 460px) {
  .Container {
    overflow-y: scroll;
    flex-wrap: nowrap;
  }
}
