.Container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8vh;
  padding: 0 10%;
  flex-wrap: wrap;
  text-align: left;
  align-items: center;
}

@media (max-width: 400px) {
  .Container {
    padding: 0;
    /* overflow-y: scroll;
    flex-wrap: nowrap; */
  }
}
