.Favorites_img {
  width: 30px;
  height: 30px;
  margin: 0 10px 10px 0;
}

.Favorites_h3 {
  color: white;
  display: inline;
}

.Favorites_h1 {
  color: white;
  padding-left: 10%;
  margin-top: 50px;
}

.Favorites_img:hover {
  animation: shake 150ms 2 linear;
}

@keyframes shake {
  0% {
    transform: translate(3px, 0);
  }
  50% {
    transform: translate(-3px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@media (max-width: 460px) {
  .Favorites_h3 {
    font-size: 18px;
    margin: 0;
    margin-left: auto;
  }

  .Favorites_h1 {
    font-size: 25px;
  }

  .GameTitle {
    color: white;
    font-size: 25px;
    display: inline-flex;
  }

  .Favorites_img {
    width: 25px;
    height: 25px;
    margin-left: auto;
  }

  .TopDiv {
    display: flex;
    flex-wrap: wrap;
  }
}
